<div class="container">
  <div class="row row-cols-3">
    <div class="col m-5">
      <%= simple_form_for @dream do |f| %>
          <%= f.input :title %>
        <%= f.input :photos, as: :file, input_html: { multiple: true } %>
        <%= f.input :availability %>
        <%= f.input :price %>
        <%= f.input :description %>
        <%= f.input :category, collection: Dream::CATEGORIES %>
        <%= f.button :submit, class: "btn btn-primary"%>
      <% end %>
    </div>
  </div>
</div>
