<h1>My dreams </h1>

<ul>
<% @dreams.each do |dream|%>
<li> <%= dream.title %>
<%= dream.price %>
<%= dream.description %>
<% dream.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>
<%= dream.availability %>
<%= dream.category %>
</li>
<%end%>
</ul>

<%= link_to "new dream", new_dream_path%>
