<div class="container">
  <h1><strong><%= @dream.title %></strong></h1>

<div class="parent">
  <div class="image-div div1" id="left-image" style="background-image: url(<%=cl_image_path(@dream.photos[0].key)%>)"></div>
  <div class="image-div div2" style="background-image: url(<%=cl_image_path(@dream.photos[1].key)%>)"></div>
  <div class="image-div div3" style="background-image: url(<%=cl_image_path(@dream.photos[2].key)%>)"></div>
  <div class="image-div div4" style="background-image: url(<%=cl_image_path(@dream.photos[3].key)%>)"></div>
  <div class="image-div div5" style="background-image: url(<%=cl_image_path(@dream.photos[4].key)%>)"></div>
  <%= render partial: "shared/modal_dream_show", locals: {dream: @dream} %>
</div>

  <div class="row">
    <div class="col-6 mt-3">
      <h3><%= @dream.user.email[/^(.+)@/, 1].capitalize %> is happy to propose you this dream !</h3>

      <p>
        <%= @dream.description %>
      </p>
      <p>
        <% if @dream.bookings.count > 0 %>
          <em>This dream has already been booked <strong><%= @dream.bookings.count %></strong> !</em>
        <% end %>
      </p>
      <%= link_to "Delete", dream_path(@dream), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, id: "delete-button", class: "btn btn-primary text-decoration-none"%>
    </div>
    <div id="price-info" class="col-6 mt-3 mx-auto text-center">
      <% if @dream.availability %>
        <div class="mt-5">
          The price of this dream is <%= number_with_delimiter(@dream.price.round(), delimiter: ' ') %>€ per day of booking ! <br><br>
          This dream is currently available ! <br><br>
        </div>
        <%= link_to "Book it!", new_dream_booking_path(@dream), id: "booking-button", class: "btn text-decoration-none" %>
      <% else %>
        Unfortunatelly, we are unable to offer bookings for this dream 😞...
      <% end %>
    </div>
  </div>
</div>
