<div class="container">
  <h1>Fill this new booking for dream <%= @dream.title %></h1>

    <%= simple_form_for [@dream, @booking] do |f| %>
    <%= f.input :start_date %>
    <%= f.input :start_date %>
    <%= f.button :submit %>
  <% end %>

</div>
