<nav class="navbar bg-light custom-navbar">
  <div class="container-fluid">
    <div>
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag("https://res.cloudinary.com/dcvyn1qtm/image/upload/v1700651209/development/logo-png_iqwkcu.png", crop: :fill) %>
      <% end %>
    </div>
    <div class="search-bar-container">
      <form class="search-form">
        <div class="search-input-container">
          <input class="form-control me-2 search-bar" type="search" placeholder="Search" aria-label="Search">
          <div class="search-icon-container" onclick="submitSearch()">
            <%= image_tag("https://res.cloudinary.com/dcvyn1qtm/image/upload/v1700666823/dfbscoydpmlghxvtzvxv.svg", crop: :fill, width: 20, height: 20) %>
          </div>
        </div>
      </form>
    </div>
    <div class="nav-item dropdown">
      <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        <div class="lines">
          <%= image_tag("https://res.cloudinary.com/dcvyn1qtm/image/upload/v1700651990/line_22_u7gw1o.svg", crop: :fill, class: "line") %>
          <%= image_tag("https://res.cloudinary.com/dcvyn1qtm/image/upload/v1700651990/line_22_u7gw1o.svg", crop: :fill, class: "line") %>
          <%= image_tag("https://res.cloudinary.com/dcvyn1qtm/image/upload/v1700651990/line_22_u7gw1o.svg", crop: :fill, class: "line") %>
        </div>
         <div class="frame">
        <div class="overlap-group"><%= image_tag("https://res.cloudinary.com/dcvyn1qtm/image/upload/v1700651989/Frame_18_ftplpx.svg", crop: :fill) %>
        </div>
      </div>
      </a>
      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
        <li><%= link_to "My dreams", dashboard_path, class: "dropdown-item" %></li>
        <li><%= link_to "My bookings", bookings_path, class: "dropdown-item" %></li>
        <li><%= link_to "My profile", edit_user_registration_path, class: "dropdown-item" %></li>
        <li><%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %></li>
      </ul>
      </div>
  </div>
</nav>



<script>
  function submitSearch() {
    document.querySelector('.search-form').submit();
  }
</script>
